$background-color: darkgoldenrod;
$link-color:green;
$a-tags: 'a, a:active, a:hover, a:visited';
$banner-background-color:green;
$banner-color:navy;
$banner-font-size:140px;
$banner-height:160px;
$menubar-font-size:17px;
$menubar-background-color:indigo;
$menubar-margin-top:50px;
$menubutton-width:150px;
$menubutton-background-color:orange;
$menubutton-border-radius:20px;
$menubutton-background-color-hover:black;


