@import "variables";
body{
  background-color: $background-color;
}

#{$a-tags}{
  color:$link-color;
}

.contentImage{
  width: 200px;
}

#banner{
  height: $banner-height;
  background: $banner-background-color;
  color:$banner-color;
  font-size: $banner-font-size;
}

#menuBar{
  font-size: $menubar-font-size;
  float:right;
  background: $menubar-background-color;
  margin-top: $menubar-margin-top;
  .menubutton{
    width: $menubutton-width;
    background: $menubutton-background-color;
    border: 5px solid black;
    border-radius: $menubutton-border-radius;
    padding: auto;
    margin: 15px;
    text-align: center;
    display: inline-block;
  }
  .menubutton:HOVER{
    background: $menubutton-background-color-hover;
    border: 5px solid gray;
    color: white;
  }
}

.innerTable {
  border: 1px double;
  width: auto;
}

table {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border: 5px darkgreen solid;
  border-collapse: collapse;
}

td {
  border: 1px darkgreen solid;
  height: 20px;
  width: 50%;
}

.centeredTd {
  text-align: center;
}

#booksTable {
  width: 100%;
  margin: auto;
}